.header_whatsApp {
	width: 50px;
}
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 100px;
	width: 1200px;
	border-radius: 1000px;
	background-color: rgb(221, 237, 237);
	padding: 2px;
	img {
		width: 100px;
		padding-left: 50px;
	}
	div {
		display: flex;
		gap: 10px;
		img {
			width: 40px;
			padding: 0px;
		}
	}
	a {
		display: flex;
		border-radius: 30px;
		text-decoration: none;
		margin-right: 50px;
		background-color: antiquewhite;
		padding: 15px;
		align-items: center;
		color: black;
		font-weight: bold;
	}
}
