.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 100px;
	width: 1200px;
	border-radius: 1000px;
	background-color: rgb(234, 242, 242);
	padding: 2px;
	position: fixed;
	img {
		width: 70px;
		padding-left: 50px;
	}
	div {
		display: flex;
		flex-direction: row;
		gap: 10px;
		img {
			width: 45px;
			padding: 0px;
		}
	}

}

.header_whatsApp {
	width: 50px;
}


.header_a {
	display: flex;
		border-radius: 30px;
		text-decoration: none;
		margin-right: 50px;
		background-color: rgb(149, 126, 223);
		padding: 15px;
		padding-bottom: 20px;
		align-items: center;
		color: rgb(4, 8, 1);
		font-weight: bold;
} 